body {
    background: url("../img/bg6.jpg") no-repeat center center fixed;
    background-color: #000000;
    background-size: cover;
    margin: 0px;
}

#firstPage {
    background: url("../img/bg6.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}

#secondPage {
    background: url("../img/bg4.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

div.home-calendar {
    background-color: rgba(238, 238, 238, 0.2);
    height: 83vh;
    width: 70vw;
    margin-top: 40px;
    margin-left: 20px;
    float: left
}

div.home-list {
    background-color: rgba(238, 238, 238, 0.2);
    height: 83vh;
    width: 20vw;
    margin-top: 40px;
    margin-right: 20px;
    float: right
}

div.selfImg {
    background-color: rgba(110, 110, 110, 0.5);
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6);
}

div.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-align: center;
}

div.habbit, div.education, div.person {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    background-color: rgba(110, 110, 110, 0.5);
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6);
    width: 200px;
}

div.habbitCell {
    font-size: 30px;
}

div.habbitTitle {
    font-size: 40px;
}

div.education, div.person, div.habbit {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

div.email {
    font-size: 15px;
}

a {
    text-decoration: none;
}

table, th, td {
    border: 1px solid #414141;
    border-collapse: collapse;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(238, 238, 238, 0.2);
    width: auto;
}

ul.topnav li {
    float: left;
}

div.tool {
    float: right;
}

div.loginButton {
    float: right;
    margin-top: 18px;
}

div.menuProfile {
    float: right;
}

ul.topnav li a {
    display: inline-block;
    color: rgba(241, 241, 241, 1);
    text-align: center;
    padding: 15px 20px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

ul.topnav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
